<html>
<head>
<title>Counselling Letter</title>
<style>
.head{
    margin:2px 0px;
	color:#fff;
    background-color:#000066;
    padding:3px;
	font-weight:bold;
    font-size:14px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
</style>
</head>
<body width=800>
<table width='100%'>
<tr>
	<td><img src="bist1.GIF" width="113" height="110" border="0" alt=""></td>

	<td>
	<table>
	<tr>
		<td align=center><img src="bist2.GIF" width="621" height="59" border="0" alt=""><br>
		</td>
	</tr>
	<tr>
		<td align=center>
		<b>
		(Declared Under Section of UGC Act, 1956)<br>
BHARATH INSTITUTE OF SCIENCE AND TECHNOLOGY<br>
173, AGHARAM ROAD, SELAIYUR, CHENNAI - 6000073<br>
TAMIL NADU, INDIA</b>
</td>
	</tr>
	</table>
	</td>
	<td><img src="bist3.GIF" width="134" height="107" border="0" alt=""></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td align=center><br><br><u><b>COUNSELLING LETTER</b></u></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
</table>

<table width=90%>
<tr>
	<td>Ref : $$EXAM_ID</td>
	<td align=right>Date : $$COUNSELLING_DATE</td>
</tr>
<tr>
	<td>To</td>
	<td align=right>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>$$CANDIDATE_NAME<br>$$ADDRESS<br>$$CITY - $$PINCODE<br>$$STATE</td>
	<td align=right>
	<table>
	<tr>
		<td>Hall Ticket No</td>
		<td align=right>$$HT_NO</td>
	</tr>
	<tr>
		<tr>
			<td>Rank</td>
		<td align=right>$$RANK</td>
	</tr>

	<tr>
		<td>Date</td>
		<td align=right>$$COUNSEL_DATE</td>
	</tr>
	<tr>
		<td>Time</td>
		<td align=right>$$COUNSEL_TIME</td>
	</tr>
	</table>
	</td>
</tr>
<tr>
	<td>Tel. No. $$TEL_NO</td>
	<td align=right>&nbsp;</td>
</tr>
</table>
<br><br>
<p>
Sub : Rank in the Common Entrance Test conducted on 27th May 2012 and counselling schedule intimation
</p>
<br>
<p>
Dear Student,
</p>
<br>
<p>
We are glad to inform you that your rank, date and time of counselling as detailed above. The counseling will be held at Bharath University, Chennai.
</p>
<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. You are advised to go through the Bharath University Website for all details.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. You are advised to attend counseling with one set of copioes of certficates along with original certificates of date of birth, qualification communicty certificate, for verification and demand draft for Rs. 25,000/- drawn in favour of Bharath University, Chennai (Name and HallTicket Number of the candidate to be written on the back of the demand draft), Your admissionwill be subject to clearance in All Certificate Verification.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. <u>The mere attending for counseling does not entitle any seat automatically, Depending on availability of seats and based on ranking, allotment will be done</u></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. You are advised to report to Bharath University only on the alloted date and time.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. No request for change of date and time of counseling will be entertained</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Absenting in the counseling will automaticallu forefeit your chance.</p>
<br><br>
<table width=90%>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td align=right>Yours Faithfully,<br><br><br><br><b>DEAN (Admissions)</b></td>
</tr>
</table>

</body>
</html>