<html>
<head>
<title>Intimation Letter</title>
<style>
.head{
    margin:2px 0px;
	color:#fff;
    background-color:#000066;
    padding:3px;
	font-weight:bold;
    font-size:14px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
</style>
</head>
<body width=800>
<table width='100%'>
<tr>
	<td><img src="bist1.GIF" width="113" height="110" border="0" alt=""></td>

	<td>
	<table>
	<tr>
		<td align=center><img src="bist2.GIF" width="621" height="59" border="0" alt=""><br>
		</td>
	</tr>
	<tr>
		<td align=center>
		<b>
		(Declared Under Section of UGC Act, 1956)<br>
BHARATH INSTITUTE OF SCIENCE AND TECHNOLOGY<br>
173, AGHARAM ROAD, SELAIYUR, CHENNAI - 6000073<br>
TAMIL NADU, INDIA</b>
</td>
	</tr>
	</table>
	</td>
	<td><img src="bist3.GIF" width="134" height="107" border="0" alt=""></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td align=center><br><br><u><b>INTIMATION LETTER</b></u></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
</table>

<table width=90%>
<tr>
	<td>To</td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>$$CANDIDATE_NAME<br>$$ADDRESS<br>$$CITY - $$PINCODE<br>$$STATE</td>
</tr>
</table>
<br><br>
<p>
Sub : Intimation of Admission to Bharath University
</p>
<br>
<p>
Dear Student,
</p>
<br>
<p>
We are glad to inform you that you have been admitted to the course you had opted during the counseling with us.
You are expected to join the college on 01-Aug-2012.
<br>
Please find below your admission details
<br><br>
<table>
<tr>
	<td>Application No</td>
	<td>$$APPN_NO</td>
</tr>
<tr>
	<td>Regn No</td>
	<td>$$REGN_NO</td>
</tr>
<tr>
	<td>Course</td>
	<td>$$COURSE</td>
</tr>
<tr>
	<td>Branch</td>
	<td>$$BRANCH</td>
</tr>
<tr>
	<td>Section</td>
	<td>$$SECTION</td>
</tr>
<tr>
	<td>Hostel</td>
	<td>$$HOSTEL_ROOM</td>
</tr>
<tr>
	<td>Boarding Point</td>
	<td>$$BOARDING_POINT</td>
</tr>
</table>
</p>
<br>
<br>
<table width=90%>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td align=right>Yours Faithfully,<br><br><br><br><b>DEAN (Admissions)</b></td>
</tr>
</table>

</body>
</html>